:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --primary-bg: #ffffff;
  --secondary-bg: #2e2f42;
  --tertiary-bg: #f4f4fd;
  --primary-text: #434455;
  --secondary-text: #2e2f42;
  --tertiary-text: #ffffff;
  --primary-accent: #4d5ae5;
  --secondary-accent: #404bbf;

  --border-portfolio: #e7e9fc;
  --customers-border: #8e8f99;
  --social-icons-bg: #4d5ae5;
  --social-icons: #f4f4fd;
  --social-icon-hover-bg: #31d0aaff;
  --customers-logo: #8e8f99ff;

  --header-line-active: #404bbf;

  --header-nav-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  --hero-btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-item-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --filter-btn-hover-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --card-portfolio-hover-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --project-hover-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  --bg-gradient: rgba(46, 47, 66, 0.7);

  /* *Modal window */
  --modal-backdrop-bg-color: rgba(46, 47, 66, 0.4);

  --modal-bg-color: #fcfcfc;
  --modal-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-border-radius: 4px;

  --modal-close-btn-bg-color: #e7e9fc;
  --modal-close-btn-border: 1px solid rgba(0, 0, 0, 0.1);
  --modal-close-btn-hover-bg-color: #404bbf;

  --modal-close-icon-fill: #2e2f42;

  /** Project-thumb-OVERLAY*/
  --project-overlay-bg-color: #4d5ae5;
  --project-overlay-text-color: #f4f4fd;

  /* *Animation hover-focus */
  --animation-hover-focus-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /** Indent */
  --indent-vertical: 24px;
  --indent-ver-customers-mob: 16px;
  --indent-horizontal: 72px;

  --items-one: 1;
  --items-two: 2;
  --items-three: 3;
  --items-four: 4;
  --items-six: 6;
}

/* *Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  display: block;
}

/* *Hidden titles  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* *General conditions for all containers */

/*! Base style */
.container {
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* !Tablet screen >= 768 */
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }
}

/* ! Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/*! HEADER SECTION  */

.page-header {
  width: 100%;
  border-bottom: 1px solid var(--border-portfolio);
  box-shadow: var(--header-nav-box-shadow);
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ? HEADER LOGO */
.header-logo {
  padding-top: 24px;
  padding-bottom: 22px;

  color: var(--primary-accent);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
    padding-bottom: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}

.logo-right {
  color: var(--secondary-text);
}

/* ?MOBILE MENU BUTTON */
.menu-toggle {
  min-width: 40px;
  min-height: 40px;

  position: absolute;
  top: 16px;
  right: 16px;

  margin: 0;
  margin-left: auto;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ? HEADER NAV */
.header-nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-nav-item:not(:last-child) {
  margin-right: 40px;
}

.header-nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  display: block;

  color: var(--primary-text);

  transition: color var(--animation-hover-focus-fast);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-nav-link::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -1px;
}

.header-nav-link.active::after {
  background-color: #404bbf;
}

.header-nav-link.active {
  color: #404bbf;
}

.link:hover,
.link:focus {
  color: var(--secondary-accent);
}

/* ? HEADER CONTACTS  */
.header-contacts-list {
  display: flex;
  font-style: normal;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .header-contacts-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--secondary-accent);
}

@media only screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}

.header-contacts-item:not(:last-child) {
  margin-right: 40px;
}

.header-contacts-link {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 122px;

  color: var(--primary-text);
  transition: color var(--animation-hover-focus-fast);

  font-size: 16px;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .header-contacts-link {
    padding-top: 16px;
    padding-bottom: 16px;

    color: #434455;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

/* ! MAIN SECTION */

/* ? HERO SECTION */
.hero {
  margin: auto;
  width: 428px;
  background-image: linear-gradient(var(--bg-gradient), var(--bg-gradient)),
    url(../images/hero/hero-bg-photo-people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg);

  padding-top: 112px;
  padding-bottom: 112px;
}

@media only screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    width: 1440px;

    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-title {
  max-width: 320px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;

  color: var(--tertiary-text);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;

    font-size: 56px;
    line-height: 1.07;
  }
}

/* *OPEN MODAL BUTTON */
.button {
  border: none;
  cursor: pointer;
}

.modal-open:hover,
.modal-open:focus {
  background-color: var(--secondary-accent);
  color: var(--tertiary-text);
}

.modal-open {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--primary-accent);
  color: var(--tertiary-text);
  box-shadow: var(hero-btn-box-shadow);
  border-radius: 4px;

  transition: background-color var(--animation-hover-focus-fast);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* ? ABOUT SECTION  */
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.about-item {
  width: 396px;
}

@media only screen and (min-width: 768px) {
  .about-item {
    width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .about-item {
    width: 264px;
  }
}

.about-item:nth-child(4n) {
  margin-right: 0;
}

.subtitle-about {
  margin-bottom: 8px;

  color: var(--secondary-text);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

@media only screen and (min-width: 1158px) {
  .subtitle-about {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.about-icon-box {
  max-width: 264px;
  min-height: 112px;
  margin-bottom: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--tertiary-bg);
  border-radius: 4px;
}

@media only screen and (max-width: 1157px) {
  .about-icon-box {
    display: none;
  }
}

/* ? BENEFITS SECTION */
.benefits-section {
  padding-top: 0;
  padding-bottom: 120px;
}

@media only screen and (max-width: 1157px) {
  .benefits-section {
    display: none;
  }
}

.benefits-subtitle {
  margin-bottom: 72px;

  color: var(--secondary-text);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  max-width: 360px;
  margin-right: 24px;
}

.benefits-item:nth-child(3n) {
  margin-right: 0;
}

/* ? TEAM SECTION  */
.team {
  background-color: var(--tertiary-bg);
}

.team-subtitle {
  margin-bottom: 72px;

  color: var(--secondary-text);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  column-gap: 24px;
  row-gap: 72px;
}

.team-item {
  flex-basis: calc(
    (100% - var(--indent-vertical) * (var(--items-one) - 1)) / var (--items-one)
  );

  margin-left: auto;
  margin-right: auto;

  background-color: var(--primary-bg);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--team-item-box-shadow);
}

@media only screen and (min-width: 768px) {
  .team-item {
    flex-basis: calc(
      (100% - var(--indent-vertical) * (var(--items-two) - 1)) / var
        (--items-two)
    );
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .team-item {
    flex-basis: calc(
      (100% - var(--indent-vertical) * (var(--items-four) - 1)) / var
        (--items-four)
    );
  }
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.subtitle-name {
  margin-bottom: 8px;

  color: var(--secondary-text);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.profession-text {
  margin-bottom: 8px;

  color: var(--primary-text);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--indent-vertical);
  row-gap: var(--indent-horizontal);
}

.team-socials-link {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--social-icons-bg);
  color: var(--social-icons);
  border-radius: 50%;

  transition: background-color var(--animation-hover-focus-fast);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--secondary-accent);
  color: var(--social-icons);
}

.team-social-icon {
  fill: currentColor;
}

/* ? CUSTOMERS SECTION */
.customers-container {
  width: 396px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .customers-container {
    width: 552px;
  }
}

@media only screen and (min-width: 1158px) {
  .customers-container {
    width: 1128px;
  }
}

.customers-subtitle {
  margin-bottom: 72px;

  color: var(--secondary-text);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 72px 16px;
}

@media only screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
}

.customers-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;

  background-color: var(--primary-bg);
}

@media only screen and (max-width: 427px) {
  .customers-item {
    width: 152px;
  }
}

@media only screen and (min-width: 768px) {
  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }
}

.customers-link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--customers-logo);
  border: 1px solid var(--customers-border);
  border-radius: 4px;

  transition: border-color var(--animation-hover-focus-fast),
    color var(--animation-hover-focus-fast);
}

.customer-icon {
  fill: currentColor;
}

@media only screen and (max-width: 767px) {
  .customer-icon {
    width: 110px;
    height: 56px;
  }
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--secondary-accent);
  color: var(--secondary-accent);
  border-color: var(--secondary-accent);
}

/* ? FOOTER SECTION */
.footer-container {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--secondary-bg);
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-wrap {
  gap: 72px 24px;
}

@media only screen and (min-width: 768px) {
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-wrap {
    flex-wrap: nowrap;
    padding-left: 15px;
    width: 1440px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-logo-container {
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-logo-container {
    margin-right: 120px;
  }
}

.footer-logo {
  display: inline-block;

  color: var(--primary-accent);

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 428px) {
  .footer-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 16px;
  }
}

.footer-logo-right {
  color: var(--tertiary-bg);
}

.footer-text {
  max-width: 264px;

  color: var(--tertiary-bg);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .footer-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    margin-top: 16px;
  }
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-socials-link {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--social-icons-bg);
  color: var(--social-icons);
  border-radius: 50%;

  transition: background-color var(--animation-hover-focus-fast);
}

.footer-socials-text {
  margin-bottom: 16px;

  color: var(--tertiary-text);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (max-width: 767px) {
  .footer-socials-text {
    text-align: center;
  }
}

.footer-social-icon {
  fill: currentColor;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--social-icon-hover-bg);
  color: var(--social-icons);
}

/* *FOOTER SUBSCRIBE FORM */
.footer-sub-wrapper {
  display: block;
  margin-left: 0;
}

@media only screen and (min-width: 1158px) {
  .footer-sub-wrapper {
    margin-left: 80px;
  }
}

.footer-sub-title {
  margin-bottom: 16px;

  color: var(--tertiary-text);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (max-width: 767px) {
  .footer-sub-title {
    text-align: center;
    margin-top: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    justify-content: center;
  }
}

.footer-sub-input {
  width: 398px;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 16px;
  resize: none;

  outline: transparent;
  outline-offset: -1px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-bg);
  color: #ffffff;

  transition: var(--animation-hover-focus-fast);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 427px) {
  .footer-sub-input {
    width: 264px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-sub-input {
    width: 264px;
    margin-right: 24px;
  }
}

.footer-sub-input::placeholder {
  color: #ffffff;
}

.footer-sub-btn {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  background-color: var(--primary-accent);
  color: var(--tertiary-text);
  border-radius: 4px;

  transition: background-color var(--animation-hover-focus-fast);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 767px) {
  .footer-sub-btn {
    margin: 0 auto;
  }
}

.footer-sub-btn:hover,
.footer-sub-btn:focus {
  background-color: var(--secondary-accent);
}

.footer-sub-icon {
  margin-left: 16px;

  pointer-events: none;
  fill: currentColor;
  color: #ffffff;
}

/* ! PORTFOLIO */

/* ? MENU FILTER BUTTON */
.project-link {
  transition: box-shadow var(--animation-hover-focus-fast);

  display: block;
}

.project-link:hover,
.project-link:focus {
  box-shadow: var(--project-hover-box-shadow);
}

.filter-list {
  margin-bottom: 72px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--tertiary-text);
  background-color: var(--secondary-accent);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: var(--filter-btn-hover-box-shadow);
}

.filter-button {
  transition: color var(--animation-hover-focus-fast),
    background-color var(--animation-hover-focus-fast),
    box-shadow var(--animation-hover-focus-fast),
    border-color var(--animation-hover-focus-fast);
}

.filter-button {
  padding: 12px 24px;

  border: 1px solid var(--border-portfolio);
  border-radius: 4px;
  color: var(--primary-accent);
  background-color: var(--tertiary-bg);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.filter-item:not(:last-child) {
  margin-right: 24px;
}

/* *OVERLAY */
.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-item:hover .project-overlay-text {
  transform: translateY(0);
}

.project-overlay-text {
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background-color: var(--project-overlay-bg-color);
  color: var(--project-overlay-text-color);

  transform: translateY(100%);
  transition: transform var(--animation-hover-focus-fast);

  position: absolute;
  top: 0;
  left: 0;
}

/* ? PROJECT CARDS */
.project-link:hover .project-overlay-text,
.project-link:focus .project-overlay-text {
  transform: translateY(0%);
}

.container-name-category {
  padding: 32px 16px;

  border: 1px solid var(--border-portfolio);
  border-top: none;
}

.project {
  padding-top: 96px;
  padding-bottom: 120px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-subtitle {
  margin-bottom: 8px;
}

.project-item {
  flex-basis: calc((100%-48) / 3);
  max-width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-item:hover {
  box-shadow: var(--card-portfolio-hover-box-shadow);
}

.project-subtitle,
.subtitle-second {
  color: var(--secondary-text);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.project-text {
  color: var(--primary-text);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* ?MODAL WINDOW  */
.backdrop {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  background: var(--modal-backdrop-bg-color);

  transition: opacity var(--animation-hover-focus-fast),
    visibility var(--animation-hover-focus-fast);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0ms;
  transition: transform var(--animation-hover-focus-fast);
}

.modal {
  width: 408px;
  min-height: 576px;
  padding: 24px;

  transform: translate(-50%, -50%) scale(1);
  position: absolute;
  top: calc(50%);
  left: calc(50%);

  background: var(--modal-bg-color);
  box-shadow: var(--modal-box-shadow);
  border-radius: var(--modal-border-radius);

  transition: transform var(--animation-hover-focus-fast);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--modal-close-icon-fill);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: transform var(--animation-hover-focus-fast);
  transition: background-color var(--animation-hover-focus-fast),
    border var(--animation-hover-focus-fast);

  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  color: white;
  border: none;
}

.modal-close-icon {
  transition: fill var(--animation-hover-focus-fast);
  fill: currentColor;
}

/* * MODAL FORM */
.modal-title {
  display: block;
  margin-bottom: 16px;
  margin-top: 48px;

  color: #2e2f42;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
}

.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-field {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 38px;

  outline: transparent;
  outline-offset: -1px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: var(--animation-hover-focus-fast);
  color: #2e2f42;
}

.form-field:focus {
  border: 1px solid #4d5ae5;
}

.form-field:focus + .form-icon {
  fill: #4d5ae5;
}
.form-icon {
  transform: translateY(-50%);
  transition: var(--animation-hover-focus-fast);

  position: absolute;
  top: 50%;
  left: 16px;

  pointer-events: none;
  fill: currentColor;
}

.form-comment-label,
.form-label {
  display: block;
  margin-bottom: 4px;

  color: #8e8f99;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-comment {
  width: 100%;
  height: 120px;
  padding: 16px;
  margin-bottom: 16px;

  outline: transparent;
  outline-offset: -1px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;

  transition: var(--animation-hover-focus-fast);

  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-comment:focus {
  border: 1px solid #4d5ae5;
}

.form-agreement {
  margin-bottom: 24px;
  gap: 8px;

  display: flex;
  justify-content: center;
}

.form-agreement-text {
  color: rgba(46, 47, 66, 0.4);

  font-size: 12px;
  letter-spacing: 0.04em;
  user-select: none;
}

.form-check-input {
  width: 16px;
  height: 16px;

  appearance: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23ffffff' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;

  transition: var(--animation-hover-focus-fast);
}

.form-check-input:checked {
  background-color: #404bbf;
  border: #404bbf;
}

.form-agreement-link {
  color: #4d5ae5;
}

.form-btn {
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;

  display: block;
  align-items: center;
  text-align: center;

  color: var(--tertiary-text);
  background-color: var(--primary-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--animation-hover-focus-fast);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--secondary-accent);
}

/* ?MOBILE MENU */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  padding: 80px 40px 40px 40px;

  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;

  transform: translateX(100%);
  transition: var(--animation-hover-focus-fast);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle-button {
  position: absolute;
  top: 24px;
  right: 24px;
}

.menu-toggle-button {
  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid #2e2f42;
  color: #2e2f42;
}

.menu-close-icon {
  fill: currentColor;
}

.mobile-menu {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  row-gap: 40px;
}

.mobile-nav-link {
  color: #2e2f42;
}

.mobile-contacts-link {
  width: 353px;
  height: 40px;

  margin-top: 284px;
  margin-bottom: 64px;

  color: #4d5ae5;
}

.mobile-nav-link,
.mobile-contacts-link {
  display: block;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-contacts-mail {
  display: block;
  margin-bottom: 48px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #434455;
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 56px;
}

.mobile-socials-link {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--social-icons-bg);
  color: var(--social-icons);
  border-radius: 50%;

  transition: background-color var(--animation-hover-focus-fast);
}

.mobile-socials-link:hover,
.mobile-socials-link:focus {
  background-color: var(--secondary-accent);
  color: var(--social-icons);
}

.mobile-social-icon {
  fill: currentColor;
}
